---
layout: default
---


  <div class="page">

      <p class="editable"></p>

      <div class="gallery">
      {% for gallery in site.gallery%}

           <div class="gallery-box{% cycle '', ' last' %}">
            <a href="{{ gallery.url }}">
              <h3>{{ gallery.title }}</h3>
              {% if gallery.main_image_path %}
              {% include img.html src=gallery.main_image_path width=400 height=300 %}
              {% else %}
              {% include img.html src="/siteicon.png" width=400 height=300 %}
              {% endif %}
            </a>


           </div>

      {% endfor %}
      </div>
      <div class="editor-link">
        <!-- Editor Link to site status -->
        <a href="cloudcannon:status">Link to Site Status and Recent Activity</a>
      </div>
  </div>
