---
layout: default
main_image_path: /assets/images/img-3800.JPG
main_image_title: Party Painting on Deep Pink - Acrylic on Box Canvas - 120x100cm ( 40x47inch )
---

<div class="page">

    <div class="editable">
    <div class="half textleft"><h3 class="pink">barbara harrison caban</h3></div>
    <div class="half textright"><h3>artist &amp; designer</h3></div>
    </div>

      <div class="gallery">

        {% if page.main_image_path %}
          {% include img.html src=page.main_image_path width=760 height=500 alt=page.main_image_title %}
          <p>{{ page.main_image_title }}</p>
        {% endif %}

      </div>

      <div class="editor-link">
        <!-- Editor Link to site status -->
        <a href="cloudcannon:status">Link to Site Status and Recent Activity</a>
      </div>
  </div>
